.page {
    padding-top: 100px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap_input {
    width: 470px;
    background-color: white;
    border-radius: 15px;
    padding: 10px 20px;
    padding-right: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input {
    width: 200px;
    font-size: 20px;
    font-weight: 700;
}

.button {
    color: white;
    font-size: 20px;
    font-weight: 700;
    background-color: rgba(169, 26, 143);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.button:active {
    background-color: rgb(173, 108, 161);
}