.page {
    padding-top: 100px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.players_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    border-radius: 20px;
    border: 1px solid var(--border-color);
}

.player_row {
    width: 500px;
    padding: 15px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player_row:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
}

.player_row:hover {
    background-color: var(--surface-depth-4);
}
